* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*This sets the background colour for the page*/
body {
    background-color: #d9dcd6;
}

/*Outlines header element selectors*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Selectors for the Navigation links*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
}

/*Outlines the rules for the main element*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Selectors for headers in the main element*/
main h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Selector for images in the main element*/
main img {
    max-height: 200px;
}

/*Selector for paragraphs within the main element*/
main p {
    font-size: 16px;
}

/*Outlines the rules for the aside element*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Selector for headers in the aside element*/
aside h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Selector for icons in the aside element*/
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Selectors for the footer element*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Selector of the footer header*/
footer h3 {
    font-size: 20px;
}

/*Class for the letters in the Horiseon header to change the colour*/
.seo {
    color: #d9dcd6;
}

/*Class for the banner image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Class for the 3 sections within the Main element*/
.main {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Class for 2 of the images in the Main element*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Class for 1 image in the Main element*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Class for the 3 sections in the Aside element*/
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}